/*.investigate_logo, .patrol_logo, .detective_logo, .forces_logo  {
    display: block;
    width: min-content;
   }*/

.main_content {
    background: url(../images/background_main.jpg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;
}
.bureaus_h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.bureau_item img {
    display: block;
    width: min-content;
    /* width: 100%;
    height: 100%;
    object-fit: cover;*/
    margin: auto;
}

.bureau_item {
    border: 1px solid var(--text-color);
    padding: 5px;
}

@media (min-width: 600px) {
    .bureau_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}

@media (min-width: 800px) {
    .bureau_content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .bureau_content {
        grid-template-columns: repeat(4, 1fr);
    }
}